In [1]:
# importing the module 
import pandas as pd 

# creating the first DataFrame 
df1 = pd.DataFrame({"fruit" : ["apple", "banana", "avocado"], 
					"market_price" : [21, 14, 35]}) 
display("The first DataFrame") 
display(df1) 

# creating the second DataFrame 
df2 = pd.DataFrame({"fruit" : ["banana", "apple", "avocado"], 
					"wholesaler_price" : [65, 68, 75]}) 
display("The second DataFrame") 
display(df2) 

# joining the DataFrames 
display("The merged DataFrame") 
pd.merge(df1, df2, on = "fruit", how = "inner")

'The first DataFrame'

     fruit  market_price
0    apple            21
1   banana            14
2  avocado            35

'The second DataFrame'

     fruit  wholesaler_price
0   banana                65
1    apple                68
2  avocado                75

'The merged DataFrame'

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [4]:
pd.concat([df1,df2],axis=1)

     fruit  market_price    fruit  wholesaler_price
0    apple            21   banana                65
1   banana            14    apple                68
2  avocado            35  avocado                75

In [6]:
pd.merge(df1,df2)

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [10]:
pd.merge(df1,df2,on='fruit')

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [22]:
df3 = pd.DataFrame({"fruit" : ["ACC", "RIL", "TDLA"], 
					"price" : [65, 68, 75]})

In [29]:
pd.merge(df1,df2,on='fruit',how='outer')

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [32]:
df1.join(df2,how='left')

ValueError: columns overlap but no suffix specified: Index(['fruit'], dtype='object')

In [35]:
df1.add(df3,fill_value=0)

         fruit  market_price  price
0     appleACC          21.0   65.0
1    bananaRIL          14.0   68.0
2  avocadoTDLA          35.0   75.0

In [43]:

joined_df = pd.merge(df1, df2, how='inner', on='fruit')


concatenated_df = pd.concat([df1, df2], axis=0,join='outer')

# Element-wise Addition (Assuming numerical DataFrames)
added_df = df1 + df2  # Or df1 += df2 (in-place)

In [44]:
joined_df

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [45]:
concatenated_df

     fruit  market_price  wholesaler_price
0    apple          21.0               NaN
1   banana          14.0               NaN
2  avocado          35.0               NaN
0   banana           NaN              65.0
1    apple           NaN              68.0
2  avocado           NaN              75.0

In [46]:
added_df

            fruit  market_price  wholesaler_price
0     applebanana           NaN               NaN
1     bananaapple           NaN               NaN
2  avocadoavocado           NaN               NaN

In [55]:
df1 = pd.DataFrame({"fruit" : ["apple", "banana", "avocado"], 
					"market_price" : [21, 14, 35]}) 
display("The first DataFrame") 
display(df1) 

# creating the second DataFrame 
df2 = pd.DataFrame({"fruit" : ["banana", "apple", "avocado"], 
					"wholesaler_price" : [65, 68, 75]}) 
display("The second DataFrame") 
display(df2) 

# joining the DataFrames 
display("The merged DataFrame") 
pd.merge(df1, df2)

'The first DataFrame'

     fruit  market_price
0    apple            21
1   banana            14
2  avocado            35

'The second DataFrame'

     fruit  wholesaler_price
0   banana                65
1    apple                68
2  avocado                75

'The merged DataFrame'

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [70]:

df1 = pd.DataFrame({"fruit" : ["apple", "banana", 
							"avocado", "grape"], 
					"market_price" : [21, 14, 35, 38]}) 
display("The first DataFrame") 
display(df1) 

# creating the second DataFrame 
df2 = pd.DataFrame({"fruit" : ["apple", "banana", "grape"], 
					"market_price" : [65, 68, 71]}) 
display("The second DataFrame") 
display(df2) 

# joining the DataFrames 
# here both common DataFrame elements are in df1 and df2, 
# so it extracts apple, banana, grapes from df1 and df2. 
display("The merged DataFrame") 
pd.merge( df2,df1, on = "fruit", how = "left")

'The first DataFrame'

     fruit  market_price
0    apple            21
1   banana            14
2  avocado            35
3    grape            38

'The second DataFrame'

    fruit  market_price
0   apple            65
1  banana            68
2   grape            71

'The merged DataFrame'

    fruit  market_price_x  market_price_y
0   apple              65              21
1  banana              68              14
2   grape              71              38

In [76]:
import pandas as pd

df1 = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['A', 'B', 'C']})
df2 = pd.DataFrame({'col3': ['X', 'Y', 'Z'], 'col4': [10, 20, 30]})

# Merge using indices (default)
merged_df_index = pd.merge(df1, df2)
print(merged_df_index)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [77]:
# importing pandas module 
import pandas as pd 

# reading csv file from url 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 

# creating position and label variables
position = 2
label = 'Name'
	
# calling .at[] method
output = data.at[position, label]

# display
print(output)

John Holland

In [85]:
data.at[3,['Team','College']]

TypeError: unhashable type: 'list'

In [80]:
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:

sr = pd.DataFrame({'col1': ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp'] ,
               'col2':[10, 25, 3, 25, 24, 6]}) 
sr

        col1  col2
0  Coca Cola    10
1     Sprite    25
2       Coke     3
3      Fanta    25
4        Dew    24
5   ThumbsUp     6

In [107]:
for data in sr.items():
    print(data)

('col1', 0    Coca Cola
1       Sprite
2         Coke
3        Fanta
4          Dew
5     ThumbsUp
Name: col1, dtype: object)
('col2', 0    10
1    25
2     3
3    25
4    24
5     6
Name: col2, dtype: int64)