In [1]:
# importing the module 
import pandas as pd 

# creating the first DataFrame 
df1 = pd.DataFrame({"fruit" : ["apple", "banana", "avocado"], 
					"market_price" : [21, 14, 35]}) 
display("The first DataFrame") 
display(df1) 

# creating the second DataFrame 
df2 = pd.DataFrame({"fruit" : ["banana", "apple", "avocado"], 
					"wholesaler_price" : [65, 68, 75]}) 
display("The second DataFrame") 
display(df2) 

# joining the DataFrames 
display("The merged DataFrame") 
pd.merge(df1, df2, on = "fruit", how = "inner")

'The first DataFrame'

     fruit  market_price
0    apple            21
1   banana            14
2  avocado            35

'The second DataFrame'

     fruit  wholesaler_price
0   banana                65
1    apple                68
2  avocado                75

'The merged DataFrame'

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [4]:
pd.concat([df1,df2],axis=1)

     fruit  market_price    fruit  wholesaler_price
0    apple            21   banana                65
1   banana            14    apple                68
2  avocado            35  avocado                75

In [6]:
pd.merge(df1,df2)

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [10]:
pd.merge(df1,df2,on='fruit')

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [22]:
df3 = pd.DataFrame({"fruit" : ["ACC", "RIL", "TDLA"], 
					"price" : [65, 68, 75]})

In [29]:
pd.merge(df1,df2,on='fruit',how='outer')

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [32]:
df1.join(df2,how='left')

ValueError: columns overlap but no suffix specified: Index(['fruit'], dtype='object')

In [35]:
df1.add(df3,fill_value=0)

         fruit  market_price  price
0     appleACC          21.0   65.0
1    bananaRIL          14.0   68.0
2  avocadoTDLA          35.0   75.0

In [43]:

joined_df = pd.merge(df1, df2, how='inner', on='fruit')


concatenated_df = pd.concat([df1, df2], axis=0,join='outer')

# Element-wise Addition (Assuming numerical DataFrames)
added_df = df1 + df2  # Or df1 += df2 (in-place)

In [44]:
joined_df

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75

In [45]:
concatenated_df

     fruit  market_price  wholesaler_price
0    apple          21.0               NaN
1   banana          14.0               NaN
2  avocado          35.0               NaN
0   banana           NaN              65.0
1    apple           NaN              68.0
2  avocado           NaN              75.0

In [46]:
added_df

            fruit  market_price  wholesaler_price
0     applebanana           NaN               NaN
1     bananaapple           NaN               NaN
2  avocadoavocado           NaN               NaN

In [52]:
df1 = pd.DataFrame({"fruit" : ["apple", "banana", "avocado"], 
					"market_price" : [21, 14, 35]}) 
display("The first DataFrame") 
display(df1) 

# creating the second DataFrame 
df2 = pd.DataFrame({"fruits" : ["banana", "apple", "avocado"], 
					"wholesaler_price" : [65, 68, 75]}) 
display("The second DataFrame") 
display(df2) 

# joining the DataFrames 
display("The merged DataFrame") 
pd.merge(df1, df2)

'The first DataFrame'

     fruit  market_price
0    apple            21
1   banana            14
2  avocado            35

'The second DataFrame'

     fruit  wholesaler_price
0   banana                65
1    apple                68
2  avocado                75

'The merged DataFrame'

     fruit  market_price  wholesaler_price
0    apple            21                68
1   banana            14                65
2  avocado            35                75